html {background-color:#F8F8F8;;}
body, html, #app {}
body {}

.bg-primary {background-color:#8493FF !important;}
.primary {color:#8493FF !important;}
.bg-accent {background-color:#2EDF69 !important;}
.accent {color:#2EDF69 !important;}
.bg-sub {background-color:#B4C0FC !important;}
.sub {color:#B4C0FC !important;}
.red {color:#F98E8E !important;}
.bg-red {background-color:#F98E8E !important;}
.bg-white {background-color:#fff !important;}
.white {color :#fff !important;}
.bg-gray {background-color:#CCCCCC !important;}

.align-center {text-align:center;}
.align-right {text-align:right;}
.align-left {text-align:left;}

.wrap-box-ratio {width:100%; padding-top:100%; position:relative; overflow:hidden; background-color:#fff;}
.wrap-box-ratio .box-ratio {position:absolute; top:0; left:0; right:0; bottom:0;}
.wrap-box-ratio .box-ratio:after {content:""; width:35px; height:53px; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); background:url("/img/logo--gray.png") no-repeat;}
.wrap-box-ratio img {width:105%; position:absolute; left:50%; top:50%; transform:translateY(-50%) translateX(-50%); z-index:1;}

.navigation {display:inline-block; margin-right:10px; padding:15px 20px; position:relative; white-space: nowrap; opacity:0.7; transition:opacity .3s;}
.navigation:after {content:""; width:100%; max-width:0; height:5px; position:absolute; bottom:0; left:50%; transform:translateX(-50%); background-color:#FEC000; transition:max-width .3s;}
.navigation:hover {opacity:1;}
.navigation:hover:after {max-width:100%;}
.navigation.active {opacity:1;}
.navigation.active:after {max-width:100%;}

.navigation .wrap-img {display:inline-block; width:20px; height:15px; margin-right:20px; position:relative;}
.navigation .wrap-img img {position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);}
.navigation .text {display:inline-block; font-size:20px; font-weight:500; color:#fff;}

.black {width:100%; height:100%; position:fixed; top:0; left:0; background-color:rgba(0,0,0,0.6); z-index:20;}

.page {}
.page-header {display:flex; margin-bottom:64px; justify-content: space-between;}
.page-header .btns {margin-left:auto;}

.page-footer {margin-top:36px;}


.wrap-contents {padding:80px 60px; padding-top:227px;}
.wrap-mobile {width:300px; padding:60px 20px; margin:0 auto;  margin-top:85px; background-color:#fff; }
.wrap-mobile .logo {display:block; margin:0 auto; margin-top:60px; margin-bottom:100px;}
.wrap-mobile .btn-full {margin-top:20px;}
.wrap-mobile .flash {color:#fff;}

.tabs-btns {display:flex; margin-bottom:40px;}
.tabs-btn {flex:1; margin:0 1px; padding:8px 10px; font-size:12px; color:#ccc; background-color:#fff; text-align:center; border:1px solid #e1e1e1; box-shadow:0px 0px 6px rgba(0,0,0,0.16); transition:border-color .3s, color .3s;}
.tabs-btn.active {color:#1351F9; border:1px solid #1351F9;}
.tabs-btn:hover {color:#1351F9; border:1px solid #1351F9;}

.tabs-content {display:none;}
.tabs-content.active {display:block;}

.flash-box {padding:9px 15px; position:fixed; bottom:90px; right:15px; font-size:14px; color:#fff; border-radius:5px; box-shadow:0px 3px 6px rgba(0,0,0,0.16); z-index:40;}

.pop {width:300px; padding:16px; position:fixed; top:45%; left:50%; background-color:#fff; border-radius:5px; transform:translate(-50%, -50%); z-index:30;}
.pop-header {position:relative;}
.pop-header-btn {position:absolute; top:0; right:0; cursor:pointer;}
.pop-header-title {margin-bottom:16px;font-weight:500; text-align:center;}
.pop-contents {margin-bottom:16px;}
.pop-btns {display:flex; margin:0 -3px;}
.pop-btns .btn {flex:1; min-width:auto !important; margin:0 3px; font-size:14px;}

/*
.pop {width:100%; height:100%; position:fixed; top:0; left:0; z-index:30; background-color:#fff;}
.pop .only-page {display:none;}
.pop-header {padding:8px 0; position:relative; border-bottom:1px solid #ccc;}
.pop-header-title {text-align:center;}
.pop-header-btn {width:40px; height:40px; position:absolute; top:0; right:0;}
.pop-header-btn img {position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);}
.pop.type-page .pop-contents {height:100%; padding:15px 20px; padding-bottom:105px; overflow-y:auto;}
.pop.type-page .only-page {display:block;}
.pop.type-page .pop-btns {width:100%; position:absolute; bottom:0; left:0;}
.pop-btn {width:100%; padding:9px; position:fixed; bottom:0; left:0; font-size:18px; font-weight:500; color:#fff; background-color:#2B3648;}
*/

.input-wrap {margin-bottom:32px; padding-left:120px; position:relative;}
.input-wrap .input-title {width:120px; padding-right:16px; position:absolute; left:0; top:0; font-weight:500;}
.input-wrap:last-of-type {margin-bottom:0;}
.input-select select {padding:5px 15px; border-radius:3px; border:1px solid #ccc;}
.input-textarea textarea {width:100%; height:80px; padding:5px 15px; border-radius:3px; border:1px solid #ccc;}
.input-search {width:680px; position:relative; border:1px solid #e1e1e1; border-radius:5px; background-color:#fff;}
.input-search input {display:block; width:100%; padding:9px 20px;}
.input-search:after {content:""; width:18px; height:20px; position:absolute; right:20px; top:50%; transform:translateY(-50%); background:url("../img/search--gray.png") no-repeat;}

.input-codeEditor {position:relative;}
.input-codeEditor-codes:after {display:block; content:""; clear:both;}
.input-codeEditor textarea {width:33.33%; height:300px; padding:9px; float:left; border-radius:3px; border:1px solid #ccc;}
.input-codeEditor-preview {padding:0px; border:1px solid #ccc;}
.input-codeEditor-preview iframe {display:block; width:100%; height:500px;}
.input-codeEditor-btn {position:absolute; top:-40px; right:0;}

.input-checkbox-wrap {}
.input-checkbox label {margin-left:10px;}
.input-radio label {margin-left:10px;}

.input-text input {width:100%; padding:8px 16px; background-color:#fff; border:1px solid #e1e1e1; color:#333; border-radius:5px;}
.input-text input:disabled {color:#ccc;}

.input-textarea textarea {width:100%; height:100px; padding:8px 16px; background-color:#fff; border:1px solid #e1e1e1; border-radius:5px;}
.input-select select {padding:8px 16px; background-color:#fff; border:1px solid #e1e1e1; border-radius:5px;}
.input-select:after {content:""; width:13px; height:8px; position:absolute; right:10px; top:50%; transform:translateY(-50%); background:url("../img/triangleDown--gray.png") no-repeat; background-size:cover;}

.input-img input {display:none;}
.input-img label {display:inline-block; cursor:pointer; padding:5px 10px; background-color:#2B3648; color:#fff;}
.input-avatar {text-align:center;}
.input-avatar input {display:none;}
.input-avatar > label {display:inline-block; position:relative; content:""; width:70px; height:70px; margin-bottom:16px; background:url("/img/avatar.png") no-repeat; background-size:cover; color:transparent;}
.input-avatar .input-file-img {width:70px; height:70px; margin:0 auto; margin-top:0; padding:0; border-radius:100%;}
.input-avatar.active label {display:none;}
.input-avatar .input-file-img {margin-top:0; margin-bottom:16px;}
.input-avatar .ratioBox-wrap {position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); border-radius:100%;}

.input-file-name {display:inline-block; margin-left:10px;}
.input-file-img {display:block; margin-top:20px; padding:20px; max-width:100%; border:1px solid #e1e1e1; border-radius:10px; background-color:transparent;}

.input-tags .btn {margin-top:8px;}
.input-tags input {width:100%; padding:8px 16px; background-color:#fff; border:1px solid #e1e1e1; color:#333; border-radius:5px;}
.input-tag {margin-bottom:8px; padding-right:54px; position:relative;}
.input-tag__button {content:""; width:46px; height:100%; position:absolute; top:0; right:0; background:url("/img/trash--black.png") no-repeat center; border:1px solid #e1e1e1; border-radius:5px;}
.input-tag .text {display:block; width:100%; padding:8px 16px; background-color:#fff; border:1px solid #e1e1e1; color:#333; border-radius:5px;}

.img-container {width:640px; height:480px; float:left;}
.img-preview {width:200px; height:200px; }

.box-comment {padding:9px 15px; font-size:14px; background-color:#1351F9; color:#fff;}
.box-comment .point {font-size:14px; font-weight:600; color:#fff;}

@media screen and (max-width:750px) {


    .navigations {white-space: nowrap; overflow-x:auto;}
    .navigation {display:inline-block; padding:10px 15px;}
    .navigation .text {font-size:18px;}
    .wrap-contents {padding:60px 20px; padding-top:165px;}

    .input-search {margin-top:10px; width:100%;}
}

.width-100 {width:100%;}
/* 테두리 버튼 */
.btn.type01 {display:inline-block; min-width:143px; padding:8px 16px; font-weight:500; color:#8493FF; border:2px solid #8493FF; border-radius:5px; background-color:#fff;}
.btn.type01.type-gray {color:#CCCCCC; border-color: #CCCCCC;}
/* 색깔 채운 버튼 */
.btn.type02 {display:inline-block; min-width:143px; padding:8px 16px; font-weight:500; color:#fff; background:#8493FF; border-radius:5px;}
/* 원형 */
.btn.type03 {display:inline-block; width:50px; height:50px; position:relative; border-radius:100%; background-color:#8493FF; box-shadow:0px 3px 6px rgba(0,0,0,0.16);}
.btn.type03 img {position:absolute; top:50%; left:50%; transform:translate(-50%, -50%);}

.cards.type01 {display:flex; flex-wrap:wrap; margin:-8px;}
.cards.type01 .card-wrap {width:25%; padding:8px;}
.cards.type01 .card {height:100%;  position:relative; background-color:#fff; }
.cards.type01 .card-content {padding:30px 16px 16px 16px; padding-bottom:32px; border-top:1px solid #e1e1e1;}
.cards.type01 .title {margin-bottom:8px;}
.cards.type01 .tags {margin-bottom:8px;}
.cards.type01 .date {position:absolute; bottom:16px; right:16px; font-size:12px; color:#CCCCCC;}

.cards.type02 {display:flex; flex-wrap:wrap; margin:-8px;}
.cards.type02 .card-wrap {width:33.33%; padding:8px;}
.cards.type02 .card {padding:25px 16px; padding-left:138px; position:relative; background-color:#fff;}
.cards.type02 .card .wrap-box-ratio {width:90px; padding-top:90px; position:absolute; left:16px; top:50%; transform:translateY(-50%); border:1px solid #e1e1e1;}
.cards.type02 .title {margin-bottom:4px; font-weight:500; white-space: nowrap; overflow:hidden; text-overflow:ellipsis;}
.cards.type02 .body {margin-bottom:8px; font-size:12px; color:#999; white-space: nowrap; overflow:hidden; text-overflow:ellipsis;}
.cards.type02 .date {font-size:12px; color:#CCCCCC;}
.cards.type02 .utils {content:""; display:flex; align-items:center; justify-content:center; width:100%; height:100%; position:absolute; top:0; left:0; background-color:rgba(0,0,0,0.3); opacity:0;
    transition: .3s;
}
.cards.type02 .btn.type03 {margin:0 4px;}
.cards.type02 .card:hover .utils {opacity:1;}

.tags.type01 {line-height:16px;}
.tags.type01 .tag {display:inline-block; margin-right:4px; font-size:12px; color:#B4C0FC;}

.empty.type01 {display:flex; align-items:center; justify-content:center; min-height:500px; color:#ccc; font-size:18px; text-align:center; background-color:#fff;}
