html, body {background-color:#F9F9FC;}
.header {display:flex; align-items:start; justify-content: center; flex-wrap:wrap; width:80px; height:100%; padding-top:32px; position:fixed; top:0; left:0; background-color:#fff;}
.header .utils {width:100%;  text-align:center;}
.header .util {display:flex; flex-wrap:wrap; width:100%; height:80px; justify-content: center; align-items: center; border-bottom:1px solid #e1e1e1;}
.header .util:first-child {border-top: 1px solid #e1e1e1;}
.header .util .wrap-img {content:""; width:20px; height:20px; margin:0 auto; margin-bottom:8px; position:relative;}
.header .util .wrap-img img {position:absolute; top:50%; left:50%; transform:translate(-50% ,-50%);}
.header .util .text {width:100%; font-size:14px; font-weight:500; color:#8493FF;}
.header .util img {display:inline-block;}
.contents {min-height:500px; padding:40px; padding-left:140px;}
.wrap-form {padding:64px 32px; background-color:#fff; border-radius:5px;}
.wrap-form .btns {margin-top:48px; text-align:right;}
.wrap-form .btns .btn {margin-left:16px;}

#login .links {margin-bottom:36px;}
#register .btn {margin-top:16px;}
